<%- include('header') -%>

<div class="container-fluid mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-lg-4 mx-auto">
        <div class="card animated fadeInDown">
          <img class="card-img-top" src="<%= image.path %>" alt="">
          <div class="card-body">
            <h5 class="card-title"><%= image.title %></h5>
            <p class="card-text"><%= image.description %></p>
            <p class="card-text"><%= format(image.created_at)%></p>
            <a class="btn btn-danger" href="/image/<%= image._id %>/delete">
              Delete Image
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('footer') -%>
